<!DOCTYPE html>
<html>
<head>
Colour picker
</head>
<body>
<p><input class="jscolor {mode:'HS', position:'right'}">

<p>'onchange' fires after the mouse button is released

<p>Rectangle color:
<input class="jscolor {mode:'HS', position:'right'}" onchange="update(this.jscolor)" value="cc66ff">

<p id="rect" style="border:1px solid gray; width:161px; height:100px;">

<script>
function update(jscolor) {
    // 'jscolor' instance can be used as a string
    document.getElementById('rect').style.backgroundColor = '#' + jscolor
}
</script>

<script src="/static/js/jscolor.js"></script>

</body>
</html>